<div class="container-form">
    <span class="title">Cadastro de novo golpe</span>
    <form>
        <div class="field">
            <span>Grupo: </span>
            <input type="text" placeholder="Insira o nome do grupo">
        </div>
        <div class="field">
            <span>Vídeo: </span>
            <input type="text" placeholder="Insira o link do vídeo">
        </div>
        <div class="field">
            <span>Imagem: </span>
            <input type="text" placeholder="Insira o link da imagem">
        </div>
        <div class="field">
            <span>Descrição: </span>
            <input type="text" placeholder="Insira o uma descrição de até 50 caracteres">
        </div>
    </form>
</div>