.container-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    .header {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        .button {
            display: flex;
            font-weight: 600;
            cursor: pointer;
            .fa {
                padding-right: 0.75em;
            }

        }
        .title {
            display: flex;
            margin: auto;
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 1.5em;
        }
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 1.5em;
    }

    .field {
        display: flex;
        width: 100%;
        margin: 0.5em 0;
        span {
            font-weight: 500;
        }
        input {
            margin: 0 0.5em;
            width: 100%;
            background-color: transparent;
            box-shadow: none;
            border-top: none;
            border-left: none;
            border-right: none;
        }
        input:focus-visible {
            margin: 0 0.5em;
            width: 100%;
            background-color: transparent;
            border-top: none;
            border-left: none;
            border-right: none;
            outline:none;
        }
    }
    .container-list {
        display: flex;
        width: 100%;
        app-list {
            display: flex;
            width: 90%;
            margin: 2em;
    
        }
    }
    .container-button {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        button {
            background-color: transparent;
            border-radius: 1em;
            padding: 1em;
            cursor: pointer;
        }
        .fa {
            padding-right: 0.5em;
        }
    }
}